@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-regular-webfont.woff");
}

@font-face {
    font-family: "Monospace";
    src: url("../fonts/monospacetypewriter-webfont.ttf");
}

.sans {
    font-family: "Open Sans";
}

.monospace {
    font-family: "Monospace";
}

/*To let me style buttons*/
button {
    all: unset
}

#container {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: grid;

	grid-template-rows: auto;
	grid-template-columns: auto;
}

#app {
    grid-row: 1;
	grid-column: 1;

    display: grid;

    grid-template-rows: 5% 10% auto;
    grid-template-columns: 100%;
}

#header {
    width: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 50%);
}

.header-item {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 175%;

    user-select: none;
}

#display-header {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: 30% 40% 30%;
}

#number-display {
    width: 100%;
    height: 100%;

    grid-column: 2;

    display: grid;

	grid-template-rows: 75% 25%;
	grid-template-columns: 100%;
}

#number-display-main {
	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 200%;
}

#number-display-goal {
	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 75%;
}

#prestige-button-container {
    width: 100%;
    height: 100%;

    grid-column: 3;

    display: flex;

    justify-content: center;
    align-items: center;
}

#prestige-button {
    width: 45%;
    height: 75%;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 85%;

    user-select: none;
}

#content {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

#main {
    grid-row: 1;
    grid-column: 1;

	display: grid;

	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
}

#click-button-container {
	grid-row: 1;
	grid-column: 1;

	display: flex;

    justify-content: center;
    align-items: center;

	user-select: none;
}

#click-button {
	width: 22%;
	height: 35%;

	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 100%;
}

#options {
    grid-row: 1;
    grid-column: 1;

    display: grid;

    grid-template-rows: repeat(4, auto);
}

.options-row {
    width: 100%;

    display: grid;

    grid-template-columns: repeat(4, auto);
}

.options-button-container {
    display: grid;

    grid-template-rows: 10% auto 10%;
    grid-template-columns: 10% auto 10%;
}

.options-button {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 2;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 235%;
}

#theme-options-button {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 2;

    display: grid;

    grid-template-rows: 25% auto 25%;
    grid-template-columns: 100%;

    user-select: none;
}

#theme-options-container {
    grid-row: 2;

    width: 100%;
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

#theme-options-text {
    font-size: 215%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-options-current {
    font-size: 95%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-selector-container {
	grid-row: 1;
	grid-column: 1;

	display: grid;

	grid-template-rows: 30% auto 30%;
	grid-template-columns: 45% auto 45%;
}

#theme-selector {
    position: relative;

	grid-row: 2;
	grid-column: 2;

    display: grid;

    grid-template-rows: 10% auto 10%;
    grid-template-columns: auto;

    user-select: none;
}

#theme-selector-title {
    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-selector-list {
    display: flex;

    flex-direction: column;
}

.theme-selector-list-button {
    width: 100%;
    height: 50%;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 155%;
}

#theme-selector-exit-button {
    display: flex;

    justify-content: center;
    align-items: center;
}
