@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-regular-webfont.woff");
}

@font-face {
    font-family: "Monospace";
    src: url("../fonts/monospacetypewriter-webfont.ttf");
}

@font-face {
	font-family: "Plex Mono";
	src: url("../fonts/IBMPlexMono-Regular.ttf");
}

@keyframes notification-fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*To let me style buttons*/
button {
    all: unset
}

#container {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: grid;

	grid-template-rows: auto;
	grid-template-columns: auto;
}

#app {
    grid-row: 1;
	grid-column: 1;

    display: grid;

    grid-template-rows: 5% 10% auto;
    grid-template-columns: 100%;
}

#header {
    width: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fill, auto);
}

.header-item {
    display: flex;

    justify-content: center;
    align-items: center;

	grid-row: 1;

    font-size: 175%;

    user-select: none;
}

#display-header {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: 30% 40% 30%;
}

#number-display {
    width: 100%;
    height: 100%;

    grid-column: 2;

    display: grid;

	grid-template-rows: 75% 25%;
	grid-template-columns: 100%;
}

#number-display-main {
	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 200%;
}

#number-display-goal {
	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 75%;
}

#prestige-button-container {
    width: 100%;
    height: 100%;

    grid-column: 3;

    display: grid;

	grid-row: 20% 80%;
	grid-column: 100%;
}

#prestige-point-display {
	width: 100%;
	height: 100%;

	grid-row: 1;

	display: flex;

    justify-content: center;
    align-items: center;

    font-size: 72%;
}

#prestige-button-sub-container {
	width: 100%;
	height: 100%;

	grid-row: 2;

	display: flex;

    justify-content: center;
    align-items: center;
}

#prestige-button {
    width: 55%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 92.5%;

	text-align: center;

    user-select: none;
}

#content {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

#main {
    grid-row: 1;
    grid-column: 1;

	display: grid;

	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
}

#click-button-container {
	grid-row: 1;
	grid-column: 1;

	display: flex;

    justify-content: center;
    align-items: center;

	user-select: none;
}

#click-button {
	width: 22%;
	height: 35%;

	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 100%;
}

#options {
    grid-row: 1;
    grid-column: 1;

    display: grid;

    grid-template-rows: repeat(4, auto);
}

.options-row {
    width: 100%;

    display: grid;

    grid-template-columns: repeat(4, 25%);
}

.options-button-container {
    display: grid;

    grid-template-rows: 10% auto 10%;
    grid-template-columns: 10% auto 10%;
}

.options-button {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 2;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 235%;

	user-select: none;
}

#theme-options-button {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 2;

    display: grid;

    grid-template-rows: 25% auto 25%;
    grid-template-columns: 100%;

    user-select: none;
}

#theme-options-container {
    grid-row: 2;

    width: 100%;
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

#theme-options-text {
    font-size: 215%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-options-current {
    font-size: 95%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-selector-container {
	grid-row: 1;
	grid-column: 1;

	display: grid;

	grid-template-rows: 30% auto 30%;
	grid-template-columns: 45% auto 45%;
}

#theme-selector {
    position: relative;

	grid-row: 2;
	grid-column: 2;

    display: grid;

    grid-template-rows: 10% auto 10%;
    grid-template-columns: auto;

    user-select: none;
}

#theme-selector-title {
    display: flex;

    justify-content: center;
    align-items: center;
}

#theme-selector-list {
    display: flex;

    flex-direction: column;
}

.theme-selector-list-button {
    width: 100%;
    height: 50%;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 155%;
}

#theme-selector-exit-button {
    display: flex;

    justify-content: center;
    align-items: center;
}

#upgrades {
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-rows: 12% 30% auto;
	grid-template-columns: 100%;
}

#upgrades-subtext {
	width: 100%;
	height: 100%;

	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 85%;
}

#prestige-upgrades-container {
    width: 100%;
    height: 100%;

    grid-column: 1;

    display: grid;

    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 25%);
}

.prestige-upgrade-container {
    width: 100%;
	height: 100%;

    grid-row: 1;

    display: flex;

    justify-content: center;
    align-items: center;
}

.prestige-upgrade-button {
    width: 85%;
    height: 85%;

    grid-template-rows: 5% 17% 15% 10% 3% 12% auto;
    grid-template-columns: 100%;

    user-select: none;
}

.prestige-upgrade-desc {
    grid-row: 2;

    display: flex;

    justify-content: center;
    align-items: center;

	text-align: center;

    font-size: 140%;
}

.prestige-upgrade-current {
    grid-row: 4;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 90%;
}

.prestige-upgrade-cost {
    grid-row: 6;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 90%;
}

#automation {
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-rows: 12% 18% 12% auto;
}

#automation-next-unlock {
	width: 100%;
	height: 100%;

	display: flex;

    justify-content: center;
    align-items: center;
}

.automation-next-unlock-text {
	height: 95%;

	display: flex;

    justify-content: center;
    align-items: center;

    font-size: 90%;
}

#autoclick {
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-rows: 50% 50%;
}

#autoclick-toggle-bar {
	width: 100%;

	display: flex;

	justify-content: center;
    align-items: center;
}

#autoclick-toggle-button {
	user-select: none;
	padding: 5px;
}

#autoclick-speed-text-container {
	display: flex;

	justify-content: center;
    align-items: center;
}

#autoclick-speed-text {
	width: 40%;

    font-size: 85%;

	text-align: center;
}

.autoclick-speed-text2 {
	font-size: 175%;
}

#autoprestige-toggle-bar {
	width: 100%;

	display: flex;

	justify-content: center;
    align-items: center;
}

#autoprestige-toggle-button {
	user-select: none;
	padding: 5px;
}

#notification-container {
	grid-row: 1;
	grid-column: 1;

	height: 5%;
}

.notification {
	position: absolute;

	top: 0;
	right: 0;

	height: 5%;

    z-index: 1;

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: black;

	padding-left: 5px;
	padding-right: 5px;

	user-select: none;
}

.notification-off {
    opacity: 0;
}

.notification-on {
    opacity: 0;
    animation-name: notification-fadeout;
    animation-duration: 2s;
}
