.app-dark {
    background-color: rgb(20, 20, 20);
}

.header-dark {
    background-color: rgb(24, 24, 24);
}

.text-dark {
	color: rgb(255, 255, 255);
	font-family: "Open Sans";
}

.shadow-dark {
	box-shadow: 2px 2px 2px black;
}

.border-dark {
	border-bottom: solid black 2px;
}

.game-button-dark {
	color: rgb(255, 255, 255);

    background-color: rgb(32, 32, 32);

    box-shadow: 2px 2px 2px black;
}

.header-item-dark {
	color: rgb(255, 255, 255);
	box-shadow: 2px 2px 2px black;
}

.selector-item-dark {
	color: rgb(255, 255, 255);
	border-bottom: solid black 2px;
}

.theme-selector-dark {
    color: rgb(255, 255, 255);

    background-color: rgb(36, 36, 36);

    box-shadow: 2px 2px 2px black;
}

.selector-hover-dark:hover {
    background-color: rgb(44, 44, 44);
}

.button-hover-dark:hover, .header-item-dark:hover, .game-button-dark:hover {
    background-color: rgb(40, 40, 40);
}

.unaffordable-dark {
	background-color: rgb(24, 24, 24);
}

.unaffordable-dark:hover {
	background-color: rgb(15, 15, 15);
}

.notification-dark {
	background-color: rgb(52, 204, 235);
}

.notification-text-dark {
	color: black;
	font-family: "Open Sans";
    
    font-size: 82%;
}
