.app-dark {
    background-color: rgb(20, 20, 20);
}

.header-dark {
    background-color: rgb(24, 24, 24);
}

.header-item-dark {
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px black;
}

.header-item-dark:hover {
    background-color: rgb(32, 32, 32);
}

.number-display-dark, .theme-options-text-dark, .theme-options-current-dark, .theme-selector-exit-button-dark {
    color: rgb(255, 255, 255);
}

.options-button-dark, .theme-options-button-dark, .click-button-dark, .prestige-button-dark {
    color: rgb(255, 255, 255);

    background-color: rgb(32, 32, 32);

    box-shadow: 2px 2px 2px black;
}

.theme-selector-dark {
    color: rgb(255, 255, 255);

    background-color: rgb(36, 36, 36);

    box-shadow: 2px 2px 2px black;
}

.theme-selector-list-button-dark:hover, .theme-selection-exit-button-dark:hover {
    background-color: rgb(44, 44, 44);
}

.options-button-dark:hover, .theme-options-button-dark:hover, .click-button-dark:hover, .prestige-button-dark:hover {
    background-color: rgb(40, 40, 40);
}

.theme-selector-list-button-dark, .theme-selector-title-dark {
    color: rgb(255, 255, 255);

    border-bottom: solid black 2px;
}
