.app-dark {
    background-color: rgb(20, 20, 20);
}

.header-dark {
    background-color: rgb(24, 24, 24);
}

.header-item-dark, .number-display-dark, #theme-options-text-dark, #theme-options-current-dark {
    color: rgb(255, 255, 255);
}

.header-item-dark:hover {
    background-color: rgb(32, 32, 32);
}

.options-button-dark, .theme-options-button-dark {
    color: rgb(255, 255, 255);

    background-color: rgb(32, 32, 32);
}

.options-button-dark:hover, .theme-options-button-dark:hover {
    background-color: rgb(40, 40, 40);
}

.theme-selector-dark {
	background-color: rgba(60, 60, 60, 0.8);
}