.app-gradient {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(25, 25, 25));
}

.header-gradient {
    background-image: linear-gradient(rgb(36, 36, 36), rgb(61, 61, 61));
}

.header-item-gradient {
	color: rgb(255, 255, 255);
	border: 2px solid rgb(195, 195, 195);
}

.header-item-gradient:hover, .game-button-gradient:hover, .button-hover-gradient:hover, .selector-hover-gradient:hover {
	background-image: linear-gradient(rgb(56, 56, 56), rgb(81, 81, 81));
}

.text-gradient {
	color: rgb(255, 255, 255);
	font-family: "Plex Mono";
}

.shadow-gradient {
	box-shadow: 2px 2px 2px black;
}

.border-gradient {
	border-bottom: solid black 2px;
}

.game-button-gradient {
	color: rgb(255, 255, 255);

    background-color: rgba(0, 0, 0, 0);

	border: 2px solid rgb(195, 195, 195);
}

.selector-item-gradient {
	color: rgb(255, 255, 255);
	border: 2px solid rgb(195, 195, 195);
}

.theme-selector-gradient {
    color: rgb(255, 255, 255);

    background-image: linear-gradient(rgb(36, 36, 36), rgb(61, 61, 61));

    border: 2px solid rgb(195, 195, 195);
}

.unaffordable-gradient {
	background-color: rgb(24, 24, 24);
}

.unaffordable-gradient:hover {
	background-image: linear-gradient(rgb(86, 56, 56), rgb(111, 81, 81));
}

.notification-gradient {
	color: black;
	font-family: "Plex Mono";
    
    font-size: 75%;
	
	background-image: linear-gradient(rgb(2, 176, 210), rgb(52, 204, 235));
}
