.app-light {
    background-color: rgb(210, 210, 210);
}

.header-light {
    background-color: rgb(200, 200, 200);
}

.header-item-light, .number-display-light, #theme-options-text-light, #theme-options-current-light {
    color: rgb(0, 0, 0);
}

.header-item-light:hover, .options-button-light:hover, .theme-options-button-light:hover {
    background-color: rgb(190, 190, 190);
}

.options-button-light, .theme-options-button-light {
    color: rgb(0, 0, 0);

    background-color: rgb(200, 200, 200);
}
