<!DOCTYPE html>

<meta charset="UTF-8">

<html>
    <head>
        <title>Number Prestige</title>

        <script src="lib/jquery.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/themes/dark.css" />
        <link rel="stylesheet" href="css/themes/light.css" />
		<link rel="stylesheet" href="css/themes/gradient.css" />
    </head>

    <body>
		<div id="container">
            <template v-if="selector === 'theme'">
                <div id="theme-selector-container">
        			<div id="theme-selector" v-bind:class="themeClass('theme-selector')">
                        <div id="theme-selector-title" v-bind:class="themeClass('selector-item', 'text')">Select Theme</div>

                        <div id="theme-selector-list">
                            <button class="theme-selector-list-button" v-bind:class="themeClass('selector-item', 'selector-hover', 'text')" v-on:click="theme = 'light'">Light</button>
                            <button class="theme-selector-list-button" v-bind:class="themeClass('selector-item', 'selector-hover', 'text')" v-on:click="theme = 'dark'">Dark</button>
							<button class="theme-selector-list-button" v-bind:class="themeClass('selector-item', 'selector-hover', 'text')" v-on:click="theme = 'gradient'">Gradient</button>
                        </div>

                        <button id="theme-selector-exit-button" v-bind:class="themeClass('text', 'selector-hover')" v-on:click="selector = 'none'">Exit</button>
                    </div>
        		</div>
            </template>
			
			<div id="notification-container">
				<div class="notification" v-bind:class="themeClass('text')" v-if="false">Unlocked Auto-Click</div>
				<div class="notification" v-bind:class="themeClass('text')" v-if="false">Unlocked Auto-Prestige</div>
			</div>

			<div id="app" v-bind:class="themeClass('app')">
				<div id="header" v-bind:class="themeClass('header')">
					<button class="header-item" v-bind:class="themeClass('header-item', 'text')" v-on:click="setState('main')">Main</button>
					<button class="header-item" v-bind:class="themeClass('header-item', 'text')" v-on:click="setState('options')">Options</button>
					<button class="header-item" v-bind:class="themeClass('header-item', 'text')" v-on:click="setState('upgrades')" v-if="prestiges > 0">Upgrades</button>
					<button class="header-item" v-bind:class="themeClass('header-item', 'text')" v-on:click="setState('automation')" v-if="prestiges > 0">Automation</button>
				</div>

				<div id="display-header" class="monospace">
                    <div id="number-display" v-bind:class="themeClass('text')">
    					<div id="number-display-main" v-bind:class="themeClass('text')">{{ formatSci(getScore()) }}</div>

    					<div id="number-display-goal" v-bind:class="themeClass('text')">Goal: {{ formatSci(getGoal()) }}</div>
                    </div>

                    <div id="prestige-button-container">
						<div id="prestige-point-display" v-bind:class="themeClass('text')" v-if="prestiges > 0">You have {{ formatSci(prestigePoints) }} Prestige Point{{ pluralize(prestigePoints) }}</div>

						<div id="prestige-button-sub-container">
							<button id="prestige-button" v-bind:class="themeClass('game-button', 'text')" v-on:click="prestige" v-if="getScore() >= getGoal()">Prestige for {{ formatSci(getPrestigePointGain()) }} Prestige Point{{ pluralize(getPrestigePointGain()) }}</button>
						</div>
					</div>
				</div>

				<div id="content">
                    <template v-if="state === 'main'">
    					<div id="main">
    						<div id="click-button-container">
    							<button id="click-button" v-bind:class="themeClass('game-button', 'text')" v-on:click="addScore(getGain())">Increase number by {{ formatSci(getGain()) }}</button>
    						</div>
    					</div>
                    </template>

                    <template v-if="state === 'options'">
    					<div id="options">
    						<div class="options-row">
    							<div class="options-button-container">
    								<button id="theme-options-button" v-bind:class="themeClass('game-button', 'text')" v-on:click="selector = 'theme'">
    									<div id="theme-options-container">
    										<div id="theme-options-text" v-bind:class="themeClass('text')">Theme</div>
    										<div id="theme-options-current" v-bind:class="themeClass('text')">Currently: {{ capitalize(theme) }}</div>
    									</div>
    								</button>
    							</div>

                                <div class="options-button-container">
                                    <button class="options-button" v-bind:class="themeClass('game-button', 'text')" v-on:click="save">
                                        Save
                                    </button>
                                </div>

                                <div class="options-button-container">
                                    <button class="options-button" v-bind:class="themeClass('game-button', 'text')" v-on:click="resetSave">
                                        Reset
                                    </button>
                                </div>
    						</div>
    					</div>
                    </template>

                    <template v-if="state === 'upgrades'">
    					<div id="upgrades">
    						<div id="upgrades-subtext" v-bind:class="themeClass('text')">Buying an upgrade will reset your score, prestige requirement, and number gain.</div>
    						<div id="upgrades-container">
                                <div id="prestige-upgrades-container">
                                    <div class="prestige-upgrade-container">
                                        <button id="prestige-point-multi-upgrade" class="prestige-upgrade-button" v-bind:class="[...themeClass('game-button'), canAfford(0) ? '' : themeClass('unaffordable')]" v-on:click="buyUpgrade(0)">
                                            <div class="prestige-upgrade-desc" v-bind:class="themeClass('text')">Multiply Prestige Point gain by 2</div>
                                            <div class="prestige-upgrade-current" v-bind:class="themeClass('text')">Currently: {{ formatSci(upgrades[0].boost()) }}x</div>
                                            <div class="prestige-upgrade-cost" v-bind:class="themeClass('text')">Cost: {{ formatSci(upgrades[0].cost) }} Prestige Points</div>
                                        </button>
                                    </div>

                                    <div class="prestige-upgrade-container">
                                        <button id="number-gain-boost-upgrade" class="prestige-upgrade-button" v-bind:class="[...themeClass('game-button'), canAfford(1) ? '' : themeClass('unaffordable')]" v-on:click="buyUpgrade(1)">
                                            <div class="prestige-upgrade-desc" v-bind:class="themeClass('text')">Add 1 to number gain</div>
                                            <div class="prestige-upgrade-current" v-bind:class="themeClass('text')">Currently: {{ formatSci(gain) }} -> {{ formatSci(getGain()) }}</div>
                                            <div class="prestige-upgrade-cost" v-bind:class="themeClass('text')">Cost: {{ formatSci(upgrades[1].cost) }} Prestige Points</div>
                                        </button>
                                    </div>

                                    <div class="prestige-upgrade-container">
                                        <button id="prestige-reduce-requirement-upgrade" class="prestige-upgrade-button" v-bind:class="[...themeClass('game-button'), canAfford(2) ? '' : themeClass('unaffordable')]" v-on:click="buyUpgrade(2)">
                                            <div class="prestige-upgrade-desc" v-bind:class="themeClass('text')">Reduce prestige requirement by 10%</div>
                                            <div class="prestige-upgrade-current" v-bind:class="themeClass('text')">Currently: 100% -> {{ formatSci(upgrades[2].boost() * 100) }}%</div>
                                            <div class="prestige-upgrade-cost" v-bind:class="themeClass('text')">Cost: {{ formatSci(upgrades[2].cost) }} Prestige Points</div>
                                        </button>
                                    </div>

									<template v-if="autoClickUnlocked">
										<div class="prestige-upgrade-container">
											<button id="autoclicker-buff-upgrade" class="prestige-upgrade-button" v-bind:class="[...themeClass('game-button'), canAfford(3) ? '' : themeClass('unaffordable')]" v-on:click="buyUpgrade(3)">
												<div class="prestige-upgrade-desc" v-bind:class="themeClass('text')">Make Auto-Click 2x faster</div>
												<div class="prestige-upgrade-current" v-bind:class="themeClass('text')">Currently: {{ formatSci(upgrades[3].boost()) }}x</div>
												<div class="prestige-upgrade-cost" v-bind:class="themeClass('text')">Cost: {{ formatSci(upgrades[3].cost) }} Prestige Points</div>
											</button>
										</div>
									</template>
                                </div>
                            </div>
    					</div>
                    </template>
					
					<template v-if="state === 'automation'">
						<div id="automation">
							<div id="automation-next-unlock">
								<div class="automation-next-unlock-text sans" v-bind:class="themeClass('text')" v-if="!autoClickUnlocked">Unlock Auto-Click at 1000 points</div>
								<div class="automation next-unlock-text sans" v-bind:class="themeClass('text')" v-if="autoClickUnlocked && !autoPrestigeUnlocked">Unlock Auto-Prestige at 50 Prestige Points</div>
							</div>
							
							<template v-if="autoClickUnlocked">
								<div id="autoclick" v-bind:class="themeClass('text')">
									<div id="autoclick-speed-text">
										Based on your Prestige Points, Auto-Click currently clicks
										
										<template v-if="getAutoClickInterval() >= 1">
											once every <font class="autoclick-speed-text2">{{ formatSci(getAutoClickInterval()) }}</font>
										second{{ pluralize(getAutoClickInterval()) }}
										</template>
										
										<template v-else>
											<font class="autoclick-speed-text2">{{ formatSci(1 / getAutoClickInterval()) }}</font>
											times per second
										</template>
									</div>
								</div>
							</template>
						</div>
					</template>
				</div>
			</div>
		</div>

        <script src="src/game.js"></script>
    </body>
</html>
