<!DOCTYPE html>

<meta charset="UTF-8">

<html>
    <head>
        <title>Number Prestige</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.2/vuex.js"></script>

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/themes/dark.css" />
        <link rel="stylesheet" href="css/themes/light.css" />
		<link rel="stylesheet" href="css/themes/gradient.css" />
    </head>

    <body>
		<div id="container">
            <template v-if="selector === 'theme'">
                <div id="theme-selector-container">
        			<div id="theme-selector" v-bind:class="getThemeClass('theme-selector')">
                        <div id="theme-selector-title" v-bind:class="[getThemeClass('selector-text'), getThemeClass('text')]">Select Theme</div>

                        <div id="theme-selector-list">
                            <theme-selector-list-button
                                v-for="th in themes"
                                v-bind:self-theme="th" />
                        </div>

                        <button id="theme-selector-exit-button" v-bind:class="[getThemeClass('text'), getThemeClass('selector-hover')]" @click="setSelector('none')">Exit</button>
                    </div>
        		</div>
            </template>

			<div id="notification-container">
                <notification v-for="notif in notifications" v-bind:title="notif" />
			</div>

			<div id="app" v-bind:class="getThemeClass('app')">
				<div id="header" v-bind:class="getThemeClass('header')">
                    <template>
                        <header-item self-state="main"></header-item>
                        <header-item self-state="options"></header-item>

                        <template v-if="prestiges > 0">
                            <header-item self-state="upgrades"></header-item>
                            <header-item self-state="automation"></header-item>
                        </template>
                    </template>
				</div>

				<div id="display-header" class="monospace">
                    <div id="number-display" v-bind:class="getThemeClass('text')">
    					<div id="number-display-main" v-bind:class="getThemeClass('text')">{{ formatSci(getScore()) }}</div>

    					<div id="number-display-goal" v-bind:class="getThemeClass('text')">Goal: {{ formatSci(getGoal()) }}</div>
                    </div>

                    <div id="prestige-button-container">
						<div id="prestige-point-display" v-bind:class="getThemeClass('text')" v-if="prestiges > 0">You have {{ formatSci(prestigePoints) }} Prestige Point{{ pluralize(prestigePoints) }}</div>

						<div id="prestige-button-sub-container">
							<button id="prestige-button" v-bind:class="[getThemeClass('game-button'), getThemeClass('text')]" v-on:click="prestige" v-if="canPrestige()">Prestige for {{ formatSci(getPrestigePointGain()) }} Prestige Point{{ pluralize(getPrestigePointGain()) }}</button>
						</div>
					</div>
				</div>

				<div id="content">
                    <template v-if="state === 'main'">
    					<div id="main">
    						<div id="click-button-container">
    							<button id="click-button" v-bind:class="[getThemeClass('game-button'), getThemeClass('text')]" v-on:click="addScore(getGain())">Increase number by {{ formatSci(getGain()) }}</button>
    						</div>
    					</div>
                    </template>

                    <template v-if="state === 'options'">
    					<div id="options">
    						<div class="options-row">
    							<div class="options-button-container">
    								<button id="theme-options-button" v-bind:class="[getThemeClass('game-button'), getThemeClass('text')]" @click="setSelector('theme')">
    									<div id="theme-options-container">
    										<div id="theme-options-text" v-bind:class="getThemeClass('text')">Theme</div>
    										<div id="theme-options-current" v-bind:class="getThemeClass('text')">Currently: {{ capitalize(theme) }}</div>
    									</div>
    								</button>
    							</div>

                                <options-button v-on:event="manualSave" title="Save"></options-button>
                                <options-button v-on:event="resetSave" title="Reset"></options-button>
    						</div>
    					</div>
                    </template>

                    <template v-if="state === 'upgrades'">
    					<div id="upgrades">
    						<div id="upgrades-subtext" v-bind:class="getThemeClass('text')">Buying an upgrade will reset your score, prestige requirement, and number gain.</div>

    						<div id="upgrades-container">
                                <div id="prestige-upgrades-container">
                                    <upgrade-button
                                        description="Multiply Prestige Point gain by 2"
                                        v-bind:format-function="num => `${formatSci(num)}x`"
                                        v-bind:boost="upgrades[0].boost()"
                                        v-bind:cost="upgrades[0].cost"
                                        v-bind:affordable="canAfford(0)"

                                        v-on:event="buyUpgrade(0)"></upgrade-button>

                                    <upgrade-button
                                        description="Add 1 to number gain"
                                        v-bind:format-function="num => `+${formatSci(num)}`"
                                        v-bind:boost="upgrades[1].boost()"
                                        v-bind:cost="upgrades[1].cost"
                                        v-bind:affordable="canAfford(1)"

                                        v-on:event="buyUpgrade(1)"></upgrade-button>

                                    <upgrade-button
                                        description="Reduce prestige requirement by 10%"
                                        v-bind:format-function="num => `-${formatSci(goal * (1 - num))}`"
                                        v-bind:boost="upgrades[2].boost()"
                                        v-bind:cost="upgrades[2].cost"
                                        v-bind:affordable="canAfford(2)"

                                        v-on:event="buyUpgrade(2)"></upgrade-button>

									<template v-if="autoClickUnlocked">
                                        <upgrade-button
                                            description="Make Auto-Click 2x faster"
                                            v-bind:format-function="num => `${formatSci(num)}x`"
                                            v-bind:boost="upgrades[3].boost()"
                                            v-bind:cost="upgrades[3].cost"
                                            v-bind:affordable="canAfford(3)"

                                            v-on:event="buyUpgrade(3)"></upgrade-button>
									</template>
                                </div>
                            </div>
    					</div>
                    </template>

					<template v-if="state === 'automation'">
						<div id="automation">
							<div id="automation-next-unlock">
                                <automation-next-unlock-text text="Unlock Auto-Click at 1000 points" v-if="!autoClickUnlocked"></automation-next-unlock-text>
                                <automation-next-unlock-text text="Unlock Auto-Prestige at 50 Prestige Points" v-if="autoClickUnlocked && !autoPrestigeUnlocked"></automation-next-unlock-text>
							</div>

							<template v-if="autoClickUnlocked">
								<div id="autoclick" v-bind:class="getThemeClass('text')">
									<div id="autoclick-toggle-bar">
										<button id="autoclick-toggle-button" v-bind:class="getThemeClass('game-button')" v-on:click="autoClickOn = !autoClickOn">Auto-Click: {{ autoClickOn ? "On" : "Off" }}</button>
									</div>

									<div id="autoclick-speed-text-container">
										<div id="autoclick-speed-text">
											Based on your Prestige Points, Auto-Click currently clicks

											<template v-if="getAutoClickInterval() >= 1">
												once every <font class="autoclick-speed-text2">{{ formatSci(getAutoClickInterval()) }}</font>
											second{{ pluralize(getAutoClickInterval()) }}
											</template>

											<template v-else>
												<font class="autoclick-speed-text2">{{ formatSci(1 / getAutoClickInterval()) }}</font>
												times per second
											</template>
										</div>
									</div>
								</div>
							</template>

							<template v-if="autoPrestigeUnlocked">
								<div id="autoprestige-toggle-bar">
									<button id="autoprestige-toggle-button" v-bind:class="[getThemeClass('game-button'), getThemeClass('text')]" v-on:click="autoPrestigeOn = !autoPrestigeOn">Auto-Prestige: {{ autoPrestigeOn ? "On" : "Off" }}</button>
								</div>
							</template>
						</div>
					</template>
				</div>
			</div>
		</div>

        <script src="src/store.js"></script>

        <script src="src/mixins/storeIO.js"></script>
        <script src="src/mixins/utils.js"></script>

        <script src="src/components/AutomationNextUnlockText.js"></script>
        <script src="src/components/HeaderItem.js"></script>
        <script src="src/components/Notification.js"></script>
        <script src="src/components/OptionsButton.js"></script>
        <script src="src/components/ThemeSelectorListButton.js"></script>
        <script src="src/components/UpgradeButton.js"></script>

        <script src="src/game.js"></script>
    </body>
</html>
