#main {
    grid-row: 1;
    grid-column: 1;

	display: grid;

	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
}

#click-button-container {
	grid-row: 1;
	grid-column: 1;

	display: flex;

    justify-content: center;
    align-items: center;

	user-select: none;
}

#click-button {
	width: 22%;
	height: 35%;

	display: flex;

    justify-content: center;
    align-items: center;

	font-size: 100%;
}
